/* Header */

.mainNavbar {
    background-color: transparent;
    position: absolute;
    top: 0;
}

#showcase {
    height: 300px;
    background-image: url('../images/leio-mclaren-leiomclaren-com-R6IWobiTW1k-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

/* Form */

.form-container {
    background-color: lightgray;
    border-radius: 10px;
    border: 5px solid lightsalmon;
}

.form-container input, select, textarea {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid lightsalmon;
}

.form-container button {
    background-color: rgb(62, 62, 100);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.trash {
    color: tomato;
}

.toggle-on {
    color: rgb(48, 107, 48);
}

.toggle-off {
    color: grey;
}

/* Pagination */

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    margin: 0px 5px;
    font-size: 16px;
    background-color: white;
    color: rgb(62, 62, 100);
}

.pagination-box.active{
    background-color: rgb(62, 62, 100);
    color: white;
}

.pagination-box.disabled{
    background-color: rgb(173, 173, 173);
    color: white;
}

/* Tooltip */

.tooltip-inner {
    color: white;
    max-width: 250px;
    padding: 10px;
    text-align: center;
    background-color:tomato;
    border-radius: 10px;
    border-style: none;
} 

/* Footer */

.instagramContainer img {
    object-fit: cover;
    width: 220px;
    height: 220px;
}
 